@import '../assets/themes/palette.css';

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9998;
    background-color: var(--main-color);
    box-shadow: 0px 4px 21px -1px rgb(185, 186, 186)
}

.menuFilter {
    display: none;
    border: none;
    background-color: var(--main-color);
}


.upperLayedLogo {
    position: absolute;

    &:hover {
        cursor: pointer;
        opacity: 0;
        transition: 0.5s;
    }

    &:active {
        cursor: grabbing;
    }
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconImage:hover {
    cursor: pointer;
    background-color: var(--icon-hover-color);
    border-radius: 20%;
    transition: 0.5s;
}

.iconImage:active {
    cursor: grabbing;
}

.cart {
    position: relative;
}

.cart #cart {
    position: absolute;
    background-color: rgba(220, 220, 220, 0);
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
}

.cart .cartCount {
    position: absolute;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #cc3e49;
    border-radius: 100%;
    line-height: 18px;
    font-weight: 600;
    font-family: Inter, sans-serif;

    &Disabled {
        display: none;
    }
}

.userIconWrapper {
    position: relative;

    .userName {
        text-decoration: none;
        color: white;
        position: absolute;
        right: 0;
        bottom: -15px;
        width: 45px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (min-width: 1440px) {

    .header {

        .headInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
            padding: 20px 0;

        }

        .headInfo .logo {
            margin-right: 40px;
        }

        .bottomLayedLogo,
        .upperLayedLogo {
            width: 300px;
            height: 70px;
        }

        .icons .iconImage {
            height: 40px;
            margin-left: 40px;
            padding: 5px;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439.98px) {

    .header {

        .headInfo {
            padding: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .headInfo .logo {
            margin-right: 40px;
        }

        .bottomLayedLogo,
        .upperLayedLogo {
            width: 20vw;
            height: auto;
        }

        .icons .iconImage {
            height: 35px;
            margin-left: 30px;
            padding: 5px;
        }
    }
}

@media screen and (max-width: 1023.98px) {
    .header {
        .headInfo {
            z-index: 1;
            display: grid;
            grid-template-columns: 10% 80% 10%;
            grid-template-areas:
                "logo . icons"
                "search search filter";
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items: center;

            .logo {
                grid-area: logo;
                justify-self: start;
            }

            .search {
                grid-area: search;
            }

            .icons {
                grid-area: icons;
                justify-self: end;
                width: auto;
            }

            .menuFilter {
                display: block;
                grid-area: filter;
                justify-self: end;
            }
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1023.98px) {

    .header {

        .headInfo {

            padding: 20px;
            grid-template-rows: repeat(2, 70px);

            .logo {

                .bottomLayedLogo,
                .upperLayedLogo {
                    width: 25vw;
                    height: auto;
                }
            }

            .icons {
                .iconImage {
                    height: 40px;
                    margin-left: 30px;
                }
            }

            .iconImageMenu {
                height: 43px;
            }
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767.98px) {
    .header {

        .headInfo {

            padding: 10px 20px;
            grid-template-rows: repeat(2, 60px);

            .logo {

                .upperLayedLogo,
                .bottomLayedLogo {
                    width: 170px;
                }
            }

            .icons {
                .iconImage {
                    height: 30px;
                    margin-left: 15px;
                }
            }

            .iconImageMenu {
                height: 30px;
            }

            .search .headerForm {
                width: 90%;
            }
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 424.98px) {
    .header {

        .headInfo {

            padding: 10px;
            grid-template-rows: repeat(2, 50px);

            .logo {

                .upperLayedLogo,
                .bottomLayedLogo {
                    width: 130px;
                }

                margin-left: 10px;
            }

            .icons {
                .iconImage {
                    height: 25px;
                    margin-left: 15px;
                }
            }

            .iconImageMenu {
                height: 30px;
            }

            .search .headerForm {
                width: 90%;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 374.98px) {
    .header {

        .headInfo {

            padding: 10px;
            grid-template-rows: repeat(2, 40px);

            .logo {

                .upperLayedLogo,
                .bottomLayedLogo {
                    width: 110px;
                }

                margin-left: 10px;
            }

            .icons {
                .iconImage {
                    height: 20px;
                    margin-left: 15px;
                }
            }

            .iconImageMenu {
                height: 25px;
            }

            .search .headerForm {
                width: 90%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .cart .cartCount {
        font-size: 16px;
        left: 90%;
    }
}

@media screen and (max-width: 767.98px) {
    .cart .cartCount {
        font-size: 10px;
        left: 90%;
        top: -10%;
        width: 12px;
        height: 12px;
    }
}

@media screen and (max-width: 424.98px) {
    .headInfo .icons {
        margin-right: 4px;
    }
}