@import '../../assets/themes/palette.css';

.loadContainer {
    z-index: 9999;
    position: absolute;
    margin-top: 100px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.authWrapper {
    margin-top: 100px;
    width: 400px;
    box-sizing: border-box;
    color: var(--main-color);
    background-color: rgb(249, 248, 248);
    border-radius: 5px;
    border: 0.5px solid rgb(222, 221, 221);
    padding: 20px 40px;
    font-family: var(--ptsans-font);
    display: flex;
    flex-direction: column;
    gap: 24px;

    &.hidden {
        display: none;
    }

    h1 {
        text-align: center;
    }

    .inputBox {
        height: 40px;
        border: 1px solid var(--main-color);
        border-radius: 30px;
        position: relative;
        width: 100%;
        box-sizing: border-box;

        input {
            background: transparent;
            border: none;
            outline: none;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            padding: 0 40px 0 20px;
            font-size: 16px;
        }

        .error {
            position: absolute;
            bottom: -16px;
            left: 10px;
            font-size: 13px;
            color: var(--errors-color);
        }
    }

    i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .errorExist {
        font-size: 13px;
        color: var(--errors-color);
        padding-left: 10px;
    }

    .btn {
        width: 100%;
        height: 40px;
        background: none;
        border: none;
        background: var(--main-color);
        border-radius: 40px;
        font-size: 20px;
        font-weight: bold;
        font-family: var(--ptsans-font);
        color: white;
        margin-top: 8px;

        &:hover {
            background-color: var(--boarder-hover-color);
            cursor: pointer;
            transition: 0.3s;
        }
    }
}

.changeAuthMethodWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    align-items: center;
    width: 400px;
    box-sizing: border-box;
    border: 0.5px solid rgb(222, 221, 221);
    border-radius: 5px;
    padding: 20px;

    .textChangeAuth {
        width: fit-content;
        font-weight: 500;
        color: var(--color-brand);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.wrapperText {
    gap: 30px;
    margin-top: 150px;
    height: 100%;
}

.text {
    font-size: 24px;

    .name {
        color: var(--main-color);
        font-weight: 600;
    }

    .link {
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btnLogOut {
    background-color: transparent;
    outline: none;
    padding: 12px;
    font-size: 20px;
    box-sizing: border-box;
    transition: .3s;
    margin-top: 300px;

    .btnContent {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;

        i {
            transition: .3s;  
            color: var(--main-color); 
        }
    }

    &:hover {
        background-color: var(--main-color);
        color: var(--white);

        i {
            color: var(--white);
        }
    }
}