@import '../../../../assets/themes/palette.css';

.shopFilters {
    .filtersHeader {
        display: none;
    }

    .filtersHeaderText {
        color: var(--white);
    }

    .filterItem {
        font-family: var(--ptsans-font);

        .filterItemName {
            font-weight: 600;
            margin-bottom: 20px;
        }

        .checkboxItem {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 12px;
        }

        .checkboxItem.hidden {
            display: none;
        }

        .checkbox {
            .checkboxLabel:before {
                border: 1px solid var(--boarder-system-color);
            }

            &:hover {
                .checkboxLabel:before {
                    border: 1px solid var(--main-color);
                }
            }
        }

        .checkboxText {
            cursor: pointer;
        }
    }

    .removeFiltersBtnDesktop {
        width: 70%;
        outline: none;
        border: none;
        background: var(--main-color);
        padding: 5px;
        border-radius: 5px;
        font-size: 18px;
        color: var(--white);
        font-family: var(--ptsans-font);
        font-weight: 500;
        height: fit-content;
        transition: .3s;

        &:hover {
            background: var(--main-color-transparent);
        }
    }
}

@media screen and (min-width: 1440px) {
    .shopFilters {
        .filterItem {
            margin: 0 30px 50px 0;
        }

        .filterItemName {
            font-size: 20px;
        }

        .checkboxText {
            font-size: 15px;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439.98px) {
    .shopFilters {
        .filterItem {
            margin: 0 0 10% 10%;
        }

        .filterItemName {
            font-size: 18px;
        }

        .checkboxText {
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 1023.98px) {
    .shopFilters {
        display: none;
        z-index: 9999;
        position: absolute;
        width: 100%;
        height: 100%;
        top: -999px;
        left: 0;

        .filtersHeader {
            display: block;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: var(--main-color);
        }

        .backBtn {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &-open {
            display: block;
            background-color: var(--white);
            overflow-y: auto;
            top: 0;

            .filterItem {
                padding: 30px 70px 0 30px;

                .filterWrapper {
                    padding-bottom: 10px;
                    border-bottom: 1px solid var(--boarder-system-color);
                }
            }
        }

        .removeFiltersBtnDesktop {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .shopFilters {

        .checkboxText {
            font-size: 15px;
        }

        .filterItemName {
            font-size: 18px;
        }

        .filtersHeader button {
            border: none;
            background: none;
            padding: 10px;

            .filtersHeaderText {
                font-size: 18px;
                font-weight: 600;
            }
        }

        .backBtn img {
            height: 50px;
            margin-right: 10px;
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767.98px) {
    .shopFilters {
        .filtersHeader button {
            border: none;
            background: none;
            padding: 10px;

            .filtersHeaderText {
                font-size: 16px;
                font-weight: 600;
            }
        }

        .backBtn img {
            height: 40px;
            margin-right: 10px;
        }

        .filterItemName {
            font-size: 16px;
        }

        .checkboxText {
            font-size: 14px;
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 424.98px) {
    .shopFilters {

        .filtersHeader button {
            border: none;
            background: none;
            padding: 10px;

            .filtersHeaderText {
                font-size: 13px;
                font-weight: 600;
            }
        }

        .backBtn img {
            height: 25px;
            margin-right: 10px;
        }

        .filterItemName {
            font-size: 14px;
        }

        .checkboxText {
            font-size: 12px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 374.98px) {
    .shopFilters {

        .filtersHeader button {
            border: none;
            background: none;
            padding: 10px;

            .filtersHeaderText {
                font-size: 13px;
                font-weight: 600;
            }
        }

        .backBtn img {
            height: 25px;
            margin-right: 10px;
        }

        .filterItemName {
            font-size: 14px;
        }

        .checkboxText {
            font-size: 12px;
        }
    }
}