@import '../../assets/themes/palette.css';

.loadContainer {
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.cartWrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.cartPanel {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vw;
}

.cartPanel.hidden {
    display: none;
}

.cartContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    .productCard {
        width: 90%;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        position: relative;
    }

    .productImage {
        border: 3px solid var(--boarder-system-color);
        width: auto;
    }

    .productImage:hover {
        cursor: pointer;
        border: 3px solid var(--boarder-hover-color);
        transition: 0.5s;
    }

    .productImage:active {
        cursor: grabbing;
        border: 3px solid black;
        transition: 0.1s;
    }

    .productName {
        font-family: var(--ptsans-font);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        line-height: 1.5em;
    }

    .productName:hover {
        box-sizing: border-box;
    }

    .productName a {
        text-decoration: none;
        color: black;
    }

    .productName a:hover {
        color: rgb(136, 0, 255);
        transition: 0.3s;
    }

    .inputCount {
        position: absolute;
        display: flex;
        flex-direction: row;
        border: 2px solid var(--main-color);

        .btn {
            border: none;
            color: white;
            font-weight: bold;
            background-color: var(--main-color);
            font-family: Inter, sans-serif;
            width: 20px;
            text-align: center;
        }

        .btn:hover {
            cursor: pointer;
            background-color: rgb(194, 159, 255);
        }

        input {
            border: none;
            text-align: center;
            font-family: Inter, sans-serif;
        }
    }

    .inputCount input:focus {
        outline: 0;
    }

    .productPrice,
    .product-new-price {
        width: 15%;
        position: absolute;
        right: 10%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .productPrice {
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .product-new-price {
        color: #ff2b3d;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .product-new-price span {
        color: gray;
        text-decoration: line-through;
        text-decoration-color: #ff2b3d;
    }

    .deleteWrapper {
        position: absolute;
        right: 0;
        width: 5%;

        button {
            border: none;
            background: none;
        }
    }

    .iconImageDelete {
        padding: 5px;
    }

    .iconImageDelete:hover {
        cursor: pointer;
        background-color: var(--boarder-system-color);
        border-radius: 20%;
        transition: 0.5s;
    }

}

.summaryWrapper {
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    background-color: var(--white);
    z-index: 3;
    -webkit-box-shadow: 0px -11px 15px -20px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px -11px 15px -20px rgba(0, 0, 0, 1);
    box-shadow: 0px -11px 15px -20px rgba(0, 0, 0, 1);
    margin-top: 20px;
}

.mainTitle {
    font-family: var(--ptsans-font);
    font-weight: bold;
}

.selectAllContainerWrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .selectAllContainer {
        width: 90%;
        display: flex;
        align-items: center;
        gap: 8px;

        .checkboxText {
            cursor: pointer;
            transition: .3s;
            font-size: 16px;
            font-weight: 400;
            color: black;

            &:hover {
                color: var(--color-brand-hover);
            }
        }
    }
}

.cartSummary {
    margin: 0 auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--ptsans-font);

    .textSummary {
        display: flex;
        flex-direction: row;
        align-items: center;

        .costText {
            font-weight: bold;
        }
    }
}

.emptyCartPanel {
    display: flex;
    flex-direction: column;
    align-items: center;

    .emptyCartImg {
        img {
            width: 100%;
            height: auto;
        }
    }

    .emptyCartBoldText {
        font-weight: bold;
        font-family: var(--ptsans-font);
    }

    .emptyCartThinText {
        font-family: var(--ptsans-font);
        width: 70%;
        text-align: center;

        .catalogLink {
            text-decoration: none;
            color: var(--main-color);
        }

        .catalogLink:hover {
            cursor: pointer;
            color: var(--boarder-hover-color);
            transition: 0.3s;
        }
    }
}

@media screen and (min-width: 1440px) {

    .mainTitle {
        font-size: 40px;
        margin: 30px auto 10px auto;
    }

    .cartSummary {
        width: 90%;

        .textSummary {

            .mainText {
                font-size: 20px;
                margin-right: 30px;
            }

            .costText {
                font-size: 30px;
            }
        }
    }

    .cartWrapper {

        .cartPanel .cartContent {

            .productCard {
                height: 300px;
            }

            .productCard .imgWrapper {
                width: 200px;
                height: 250px;
            }

            .productImage {
                max-width: 180px;
                height: 100%;
            }

            .productName {
                width: 350px;
                height: 250px;
                font-size: 20px;
                margin-left: 30px;
                position: relative;
                display: flex;
                align-items: center;
            }

            .productName a {
                position: absolute;
                text-align: start;
                width: 90%;
                left: 0;
            }

            .wrapperCountPrice {
                height: 100px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .inputCount {
                right: 30%;

                button,
                input {
                    font-size: 16px;
                }

                input {
                    width: 80px;
                    height: 1.5em;
                }
            }

            .productPrice,
            .product-new-price {
                font-size: 22px;
            }

            .product-new-price span {
                font-size: 18px;
            }

            .iconImageDelete {
                height: 40px;
            }
        }

        .emptyCartPanel {
            width: 100%;
            margin: 60px auto;

            .emptyCartImg {
                width: 20%;
            }

            .emptyCartImg,
            .emptyCartBoldText {
                margin-bottom: 40px;
            }

            .emptyCartBoldText {
                font-size: 34px;
            }

            .emptyCartThinText {
                font-size: 28px;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439.98px) {

    .mainTitle {
        font-size: 34px;
        margin: 40px auto 10px auto;
    }

    .cartSummary {
        width: 90%;

        .textSummary {

            .mainText {
                font-size: 20px;
                margin-right: 30px;
            }

            .costText {
                font-size: 26px;
            }
        }
    }

    .cartWrapper {

        .cartPanel .cartContent {

            .productCard {
                height: 300px;
            }

            .productCard .imgWrapper {
                width: 200px;
                height: 250px;
            }

            .productImage {
                max-width: 180px;
                height: 100%;
            }

            .productName {
                width: 250px;
                height: 250px;
                font-size: 20px;
                margin-left: 30px;
                position: relative;
                display: flex;
                align-items: center;
            }

            .productName a {
                position: absolute;
                text-align: start;
                width: 90%;
                left: 0;
            }

            .wrapperCountPrice {
                height: 100px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .inputCount {
                right: 30%;

                button,
                input {
                    font-size: 16px;
                }

                input {
                    width: 80px;
                    height: 1.5em;
                }
            }

            .productPrice,
            .product-new-price {
                font-size: 22px;
            }

            .product-new-price span {
                font-size: 18px;
            }

            .iconImageDelete {
                height: 40px;
            }
        }

        .emptyCartPanel {
            width: 80%;
            margin: 60px auto;

            .emptyCartImg {
                width: 25%;
            }

            .emptyCartImg,
            .emptyCartBoldText {
                margin-bottom: 34px;
            }

            .emptyCartBoldText {
                font-size: 30px;
            }

            .emptyCartThinText {
                font-size: 22px;
            }
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1023.98px) {

    .mainTitle {
        font-size: 26px;
        margin: 24px auto 10px auto;
    }

    .cartSummary {
        width: 90%;

        .textSummary {

            .mainText {
                font-size: 16px;
                margin-right: 30px;
            }

            .costText {
                font-size: 20px;
            }
        }

        .checkoutBtn {
            font-size: 16px;
            padding: 5px 70px;
        }
    }

    .cartWrapper {

        .cartPanel .cartContent {

            .productCard {
                height: 250px;
            }

            .productCard .imgWrapper {
                width: 170px;
                height: 200px;
            }

            .productImage {
                max-width: 150px;
                height: 100%;
            }

            .productName {
                width: 200px;
                height: 200px;
                font-size: 16px;
                margin-left: 15px;
                position: relative;
                display: flex;
                align-items: center;
            }

            .productName a {
                position: absolute;
                text-align: start;
                width: 90%;
                left: 0;
            }

            .wrapperCountPrice {
                height: 100px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .inputCount {
                right: 25%;

                button,
                input {
                    font-size: 12px;
                }

                input {
                    width: 50px;
                    height: 1.5em;
                }
            }

            .productPrice,
            .product-new-price {
                font-size: 16px;
            }

            .product-new-price span {
                font-size: 14px;
            }

            .iconImageDelete {
                height: 30px;
            }
        }

        .emptyCartPanel {
            width: 80%;
            margin: 60px auto;

            .emptyCartImg {
                width: 30%;
            }

            .emptyCartImg,
            .emptyCartBoldText {
                margin-bottom: 20px;
            }

            .emptyCartBoldText {
                font-size: 26px;
            }

            .emptyCartThinText {
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767.98px) {

    .mainTitle {
        font-size: 18px;
        margin: 20px auto 0 auto;
    }

    .cartSummary {
        width: 95%;

        .textSummary {

            .mainText {
                font-size: 12px;
                margin-right: 30px;
            }

            .costText {
                font-size: 16px;
            }
        }

        .checkoutBtn {
            font-size: 12px;
            padding: 5px 40px;
        }
    }

    .cartWrapper {

        .cartPanel .cartContent {

            .productCard {
                position: unset;
                justify-content: space-between;
                height: 170px;
                width: 95%;
            }

            .productCard .imgWrapper {
                width: 100px;
                height: 140px;
            }

            .productImage {
                max-width: 90px;
                height: 100%;
            }

            .productName {
                width: 100%;
                height: 140px;
                font-size: 12px;
                margin-left: 20px;
                position: relative;
                display: flex;
                align-items: center;
            }

            .productName a {
                position: absolute;
                text-align: start;
                width: 90%;
                left: 0;
            }

            .wrapperCountPrice {
                height: 140px;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-evenly;
            }

            .inputCount {
                position: unset;

                button,
                input {
                    font-size: 10px;
                }

                input {
                    width: 60px;
                }
            }

            .productPrice,
            .product-new-price {
                width: 100px;
                position: unset;
                font-size: 13px;
            }

            .product-new-price span {
                font-size: 11px;
            }

            .deleteWrapper {
                position: unset;
                margin-left: 40px;
            }

            .iconImageDelete {
                height: 20px;
            }
        }

        .emptyCartPanel {
            width: 80%;
            margin: 40px auto;

            .emptyCartImg {
                width: 30%;
            }

            .emptyCartImg,
            .emptyCartBoldText {
                margin-bottom: 20px;
            }

            .emptyCartBoldText {
                font-size: 22px;
            }

            .emptyCartThinText {
                font-size: 18px;
            }
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 424.98px) {

    .mainTitle {
        font-size: 16px;
        margin: 20px auto 0 auto;
    }

    .cartSummary {
        width: 95%;

        .textSummary {

            .mainText {
                font-size: 13px;
                margin-right: 10px;
            }

            .costText {
                font-size: 14px;
            }
        }

        .checkoutBtn {
            font-size: 13px;
            padding: 2px 30px;
        }
    }

    .cartWrapper {

        .cartPanel .cartContent {

            .productCard {
                position: unset;
                justify-content: space-between;
                height: 170px;
                width: 95%;
            }

            .productCard .imgWrapper {
                width: 100px;
                height: 140px;
            }

            .productImage {
                max-width: 90px;
                height: 100%;
            }

            .productName {
                width: 100%;
                height: 140px;
                font-size: 13px;
                margin-left: 10px;
                position: relative;
                display: flex;
                align-items: center;
            }

            .productName a {
                position: absolute;
                text-align: start;
                width: 90%;
                left: 0;
            }

            .wrapperCountPrice {
                height: 140px;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-evenly;
            }

            .inputCount {
                position: unset;

                button,
                input {
                    font-size: 10px;
                }

                input {
                    width: 60px;
                }
            }

            .productPrice,
            .product-new-price {
                width: 100px;
                position: unset;
                font-size: 14px;
            }

            .product-new-price span {
                font-size: 11px;
            }

            .deleteWrapper {
                position: unset;
                margin-left: 20px;
            }

            .iconImageDelete {
                height: 20px;
            }
        }

        .emptyCartPanel {
            width: 100%;
            margin: 30px 0;

            .emptyCartImg {
                width: 30%;
            }

            .emptyCartImg,
            .emptyCartBoldText {
                margin-bottom: 20px;
            }

            .emptyCartBoldText {
                font-size: 18px;
            }

            .emptyCartThinText {
                font-size: 14px;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 374.98px) {

    .mainTitle {
        font-size: 13px;
        margin: 10px auto 0 auto;
    }

    .cartSummary {
        width: 95%;
        height: 70px;

        .textSummary {

            .mainText {
                font-size: 10px;
                margin-right: 10px;
            }

            .costText {
                font-size: 12px;
            }
        }

        .checkoutBtn {
            font-size: 10px;
            padding: 2px 20px;
        }
    }

    .cartWrapper {

        .cartPanel .cartContent {

            .productCard {
                position: unset;
                justify-content: space-between;
                height: 170px;
                width: 95%;
            }

            .productCard .imgWrapper {
                width: 100px;
                height: 140px;
            }

            .productImage {
                max-width: 90px;
                height: 100%;
            }

            .productName {
                width: 100%;
                height: 140px;
                font-size: 10px;
                margin: 0 5px 0 10px;
                position: relative;
                display: flex;
                align-items: center;
            }

            .productName a {
                position: absolute;
                text-align: start;
                width: 90%;
                left: 0;
            }

            .wrapperCountPrice {
                height: 100px;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-evenly;
            }

            .inputCount {
                position: unset;

                button,
                input {
                    font-size: 8px;
                }

                input {
                    width: 50px;
                }
            }

            .productPrice,
            .product-new-price {
                width: 80px;
                position: unset;
                font-size: 12px;
            }

            .product-new-price span {
                font-size: 9px;
            }

            .deleteWrapper {
                position: unset;
                margin-right: 20px;
            }

            .iconImageDelete {
                height: 20px;
            }
        }

        .emptyCartPanel {
            width: 100%;
            margin: 10% 0;

            .emptyCartImg {
                width: 30%;
            }

            .emptyCartImg,
            .emptyCartBoldText {
                margin-bottom: 20px;
            }

            .emptyCartBoldText {
                font-size: 16px;
            }

            .emptyCartThinText {
                font-size: 12px;
            }
        }
    }
}