.modalWrapper {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        width: 28%;
        height: fit-content;
        padding: 20px;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        border-radius: 10px;
        -webkit-box-shadow: var(--modal-box-shadow);
        -moz-box-shadow: var(--modal-box-shadow);
        box-shadow: var(--modal-box-shadow);

        .modalHeader {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 50px;

            .warning {
                display: flex;
                align-items: center;
                gap: 12px;

                svg {
                    height: 32px;
                    width: auto;
                }

                .warningText {
                    font-weight: 500;
                    line-height: 20px;
                    word-break: break-word;
                    overflow-wrap: break-word;
                    color: var(--light-black);
                }
            }

            svg {
                cursor: pointer;
                flex-shrink: 0;

                path {
                    transition: .3s;
                }

                &:hover {
                    path {
                        fill: var(--dark-gray);
                    }
                }
            }
        }

        .btns {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}