.loadContainer {
    z-index: 9999;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.formWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 40px auto 0 auto;
    padding-bottom: 50px;
    max-width: 1300px;

    svg {
        height: 24px !important;
    }

    .formTitle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        font-size: 24px;
        font-weight: 700;
        color: var(--light-black);
    }

    .modifyWrapper {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
            font-size: 14px;
            font-weight: 500;
            color: var(--gray-purple);
        }
    }

    .wrapper {
        display: flex;
        width: -webkit-fill-available;
        gap: 50px;

        .fieldsWrapper {
            display: flex;
            flex-direction: column;
            gap: 28px;
            width: 80%;
            flex-shrink: 1;

            .dropdownList {
                background-color: var(--white);
            }
        }

        .imgWrapper {
            display: flex;
            width: 20%;
            flex-shrink: 0;

            .image {
                width: 100%;
                height: fit-content;
            }
        }
    }

    .btnsWrapper {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 8px;
    }
}