@import '../../assets/themes/palette.css';

.loadContainer {
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.cartWrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.cartPanel {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vw;
}

.cartPanel.hidden {
    display: none;
}

.cartContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summaryWrapper {
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    background-color: var(--white);
    z-index: 3;
    -webkit-box-shadow: var(--cart-box-shadow);
    -moz-box-shadow: var(--cart-box-shadow);
    box-shadow: var(--cart-box-shadow);
    margin-top: 20px;
}

.mainTitle {
    font-family: var(--ptsans-font);
    font-weight: bold;
}

.availableTitle {
    width: 90%;
    text-align: center;
    color: var(--dark-gray);
    font-size: 28px;
    font-weight: 500;
    margin: 40px auto 10px auto;
    padding-top: 20px;
    -webkit-box-shadow: var(--cart-box-shadow);
    -moz-box-shadow: var(--cart-box-shadow);
    box-shadow: var(--cart-box-shadow);
}

.selectAllContainerWrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .selectAllContainer {
        width: 90%;
        display: flex;
        align-items: center;
        gap: 8px;

        .checkboxText {
            cursor: pointer;
            transition: .3s;
            font-size: 16px;
            font-weight: 400;
            color: var(--black);

            &:hover {
                color: var(--color-brand-hover);
            }
        }
    }
}

.cartSummary {
    margin: 0 auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--ptsans-font);

    .textSummary {
        display: flex;
        flex-direction: row;
        align-items: center;

        .costText {
            font-weight: bold;
        }
    }
}

.emptyCartPanel {
    display: flex;
    flex-direction: column;
    align-items: center;

    .emptyCartImg {
        img {
            width: 100%;
            height: auto;
        }
    }

    .emptyCartBoldText {
        font-weight: bold;
        font-family: var(--ptsans-font);
    }

    .emptyCartThinText {
        font-family: var(--ptsans-font);
        width: 70%;
        text-align: center;

        .catalogLink {
            text-decoration: none;
            color: var(--main-color);
            transition: 0.3s;
        }

        .catalogLink:hover {
            cursor: pointer;
            color: var(--boarder-hover-color);
        }
    }
}

@media screen and (min-width: 1440px) {

    .mainTitle {
        font-size: 40px;
        margin: 30px auto 10px auto;
    }

    .cartSummary {
        width: 90%;

        .textSummary {

            .mainText {
                font-size: 20px;
                margin-right: 30px;
            }

            .costText {
                font-size: 30px;
            }
        }
    }

    .cartWrapper {
        .emptyCartPanel {
            width: 100%;
            margin: 60px auto;

            .emptyCartImg {
                width: 20%;
            }

            .emptyCartImg,
            .emptyCartBoldText {
                margin-bottom: 40px;
            }

            .emptyCartBoldText {
                font-size: 34px;
            }

            .emptyCartThinText {
                font-size: 28px;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439.98px) {

    .mainTitle {
        font-size: 34px;
        margin: 40px auto 10px auto;
    }

    .cartSummary {
        width: 90%;

        .textSummary {

            .mainText {
                font-size: 20px;
                margin-right: 30px;
            }

            .costText {
                font-size: 26px;
            }
        }
    }

    .cartWrapper {
        .emptyCartPanel {
            width: 80%;
            margin: 60px auto;

            .emptyCartImg {
                width: 25%;
            }

            .emptyCartImg,
            .emptyCartBoldText {
                margin-bottom: 34px;
            }

            .emptyCartBoldText {
                font-size: 30px;
            }

            .emptyCartThinText {
                font-size: 22px;
            }
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1023.98px) {

    .mainTitle {
        font-size: 26px;
        margin: 24px auto 10px auto;
    }

    .cartSummary {
        width: 90%;

        .textSummary {

            .mainText {
                font-size: 16px;
                margin-right: 30px;
            }

            .costText {
                font-size: 20px;
            }
        }

        .checkoutBtn {
            font-size: 16px;
            padding: 5px 70px;
        }
    }

    .cartWrapper {
        .emptyCartPanel {
            width: 80%;
            margin: 60px auto;

            .emptyCartImg {
                width: 30%;
            }

            .emptyCartImg,
            .emptyCartBoldText {
                margin-bottom: 20px;
            }

            .emptyCartBoldText {
                font-size: 26px;
            }

            .emptyCartThinText {
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767.98px) {

    .mainTitle {
        font-size: 18px;
        margin: 20px auto 0 auto;
    }

    .cartSummary {
        width: 95%;

        .textSummary {

            .mainText {
                font-size: 12px;
                margin-right: 30px;
            }

            .costText {
                font-size: 16px;
            }
        }

        .checkoutBtn {
            font-size: 12px;
            padding: 5px 40px;
        }
    }

    .cartWrapper {
        .emptyCartPanel {
            width: 80%;
            margin: 40px auto;

            .emptyCartImg {
                width: 30%;
            }

            .emptyCartImg,
            .emptyCartBoldText {
                margin-bottom: 20px;
            }

            .emptyCartBoldText {
                font-size: 22px;
            }

            .emptyCartThinText {
                font-size: 18px;
            }
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 424.98px) {

    .mainTitle {
        font-size: 16px;
        margin: 20px auto 0 auto;
    }

    .cartSummary {
        width: 95%;

        .textSummary {

            .mainText {
                font-size: 13px;
                margin-right: 10px;
            }

            .costText {
                font-size: 14px;
            }
        }

        .checkoutBtn {
            font-size: 13px;
            padding: 2px 30px;
        }
    }

    .cartWrapper {
        .emptyCartPanel {
            width: 100%;
            margin: 30px 0;

            .emptyCartImg {
                width: 30%;
            }

            .emptyCartImg,
            .emptyCartBoldText {
                margin-bottom: 20px;
            }

            .emptyCartBoldText {
                font-size: 18px;
            }

            .emptyCartThinText {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 374.98px) {

    .mainTitle {
        font-size: 13px;
        margin: 10px auto 0 auto;
    }

    .cartSummary {
        width: 95%;
        height: 70px;

        .textSummary {

            .mainText {
                font-size: 10px;
                margin-right: 10px;
            }

            .costText {
                font-size: 12px;
            }
        }

        .checkoutBtn {
            font-size: 10px;
            padding: 2px 20px;
        }
    }

    .cartWrapper {
        .emptyCartPanel {
            width: 100%;
            margin: 10% 0;

            .emptyCartImg {
                width: 30%;
            }

            .emptyCartImg,
            .emptyCartBoldText {
                margin-bottom: 20px;
            }

            .emptyCartBoldText {
                font-size: 16px;
            }

            .emptyCartThinText {
                font-size: 12px;
            }
        }
    }
}