:root {
  --disabled-gray: rgb(219, 219, 219);
  --disabled-gray-2: rgb(189, 189, 189);
  --light-gray: rgb(235, 235, 235);
  --gray: rgb(179, 179, 179);
  --dark-gray: rgb(130, 130, 130);
  --gray-purple: rgb(184, 173, 190);
  --black: rgb(0, 0, 0);
  --light-black: rgb(87, 87, 87);
  --white: rgb(255, 255, 255);
  --main-color: rgb(168, 118, 255);
  --main-color-light: rgb(208, 181, 255);

  --boarder-hover-color: rgb(116, 35, 255);
  --icon-hover-color: rgb(116, 35, 255);
  --default-head-menu-color: rgb(116, 35, 255);
  --main-color-transparent: rgba(168, 118, 255, 0.5);
  --main-color-transparent-2: rgba(168, 118, 255, 0.2);
  --boarder-system-color: rgb(219, 219, 219);
  --sales-color: rgb(174, 20, 20);
  --errors-color: rgb(200, 0, 0);
  --warning-color: rgb(255, 77, 77);
  --color-brand: rgb(116, 35, 255);
  --color-brand-hover: rgb(96, 31, 208);
  --input-border: var(--gray);
  --input-focus: var(--main-color);
  --input-placeholder: var(--gray);
  --input-disabled-bc: var(--dark-gray);
  --input-disabled-bg: var(--disabled-gray-2);
  --tabs-text-color-disabled: rgba(255, 255, 255, 0.25);
  --border-light: var(--main-color-light);
  --scrollbar-thumb: var(--main-color);
  --scrollbar-track: var(--disabled-gray-2);

  --badge-red-bg: var(--warning-color);
  --badge-blue-bg: rgb(132, 167, 255);
  --badge-purple-bg: rgb(179, 135, 255);
  --badge-gray-bg: var(--gray);
  --badge-green-bg: rgb(131, 255, 187);
  --badge-pink-bg: rgb(255, 158, 174);

  --rad: 20px;
  --dur: 0.3s;
  --btn-width: 20%;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
  --default-font: "Montserrat";
  --ptsans-font: "PTSans";
  --dancing-font: "DancingScript";
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Regular.eot");
  src: url("../fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.woff") format("woff"),
    url("../fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DancingScript";
  src: url("../fonts/DancingScript-Regular.eot");
  src: url("../fonts/DancingScript-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DancingScript-Regular.woff2") format("woff2"),
    url("../fonts/DancingScript-Regular.woff") format("woff"),
    url("../fonts/DancingScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
